@media(min-width:768px) and (max-width:991px) {
    .slicknav_menu {
        display: none;
    }
      .logo_n_text {
        float: left;
        padding-bottom: 26px;
        padding-left: 40%;
        padding-top: 33px;
    }
     .btn-danger {
  background-color: #2b3943;
  border-radius: 3px;
  color: #fff;
  font-family: OpenSans;
  font-size: 18px;
  line-height: 1.33333;
  padding: 5px 9px;
}
.btn-danger {
  border-color: #fff;
}
ul {
  padding-bottom: 22px;
  padding-left: 0;
  padding-top: 33px;
}
.about_left > p {
  color: #2b3943;
  font-family: OpenSans;
  font-size: 18px;
  padding-top: 42px;
  text-align: center;
}
.about_left > h4 {
  color: #1e2830;
  font-family: Raleway;
  font-size: 22px;
  font-weight: bold;
  padding-top: 44px;
  text-align: center;
}
ul.left {
  list-style: inside url("round.png") square;
  padding-top: 28px;
  text-align: center;
}
.left > li {
  padding-bottom: 24px;
}
.box_image {
  bottom: -53px;
  left: 42%;
  position: absolute;
}
.item {
  text-align: center;
}
}

@media(min-width:320px) and (max-width:767px) {
    .slicknav_menu {
        display: block;
    }
    .menu_area {
        display: none;
    }
    .logo_n_text {
        float: left;
        padding-bottom: 26px;
        padding-left: 32%;
        padding-top: 33px;
    }
    .slicknav_nav li {
        display: inline!important;
    }
    .btn-primary {
        border-radius: 3px;
        font-family: OpenSans;
        font-size: 18px;
        line-height: 1.33333;
        padding: 5px 31px;
    }
    .slick {
        padding-left: 14%;
    }
    .about_left {
        text-align: center;
    }
    .posi > img {
        min-height: 476px;
        padding: 52px 8px 0;
        width: 100%;
    }
    .form-control {
        display: block;
        width: 100%;
    }
    #slt.form-control {
        display: inline;
        text-align: center;
        width: 100%;
    }
    #txt::-moz-placeholder {
        color: #848484;
        font-family: OpenSans;
        font-size: 12px;
        font-style: italic;
        text-align: center;
    }
    .item {
        text-align: center;
    }
    .about_us_header > h2 {
        color: #000000;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        padding-top: 17px;
    }
    .reason_text > h3 {
        color: #000000;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        padding-top: 22px;
    }
    .plan_header > h3 {
        color: #000000;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        padding-top: 16px;
    }
    .box {
        padding-bottom: 7px;
    }
    .domain_header > h3 {
        color: #fff;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        padding-top: 11px;
    }
    .domain_search {
        padding-bottom: 24px;
        padding-top: 15px;
    }
    .do_text > h3 {
        color: #2b3943;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        padding-top: 10px;
    }
    .client_text > h3 {
        color: #2b3943;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        padding-top: 3px;
    }
    .owl_top {
        padding-bottom: 35px;
        padding-top: 60px;
    }
    .contact_text > h3 {
        color: #2b3943;
        font-family: Raleway;
        font-size: 22px;
        font-weight: bold;
        padding-top: 11px;
    }
    .copy_text > h6 {
        color: #fff;
        font-family: OpenSans;
        font-size: 12px;
        padding-top: 25px;
        text-align: center;
    }
    .footer_text {
        text-align: center;
    }
    .footer_text > h5 {
        color: #fff;
        font-family: Raleway;
        font-size: 14px;
        font-weight: bold;
        padding-top: 16px;
    }
    .pad_cnt {
        padding: 0 6% 17px;
    }
    .pad_cont {
        padding-bottom: 18px;
        padding-top: 13px;
        padding-right: 0!important;
        padding-left: 0;
    }
    .pad_con {
        padding-bottom: 0;
        padding-top: 6px;
        padding-left: 0!important;
        padding-right: 0 !important;
    }
    .pad_ctn {
        padding-bottom: 21px;
        padding-left: 5% !important;
        padding-right: 5%!important;
    }
    .pad_ctn > .btn {
        -moz-user-select: none;
        background-image: none;
        border-radius: 2px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857;
        margin-bottom: 0;
        padding: 6px 83px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
    }
    .owl-prev {
        bottom: 210px;
        left: 51px;
        position: absolute;
    }
    .owl-next {
        bottom: 210px;
        position: absolute;
        right: 51px;
    }
    .progress-bar {
        background-color: #fff;
        color: #0f0f0f;
        font-size: 12px;
        height: 200px;
        line-height: 20px;
        padding-left: 19%;
        position: relative;
        text-align: center;
        -webkit-transition: width 0.6s ease 0s;
        transition: width 0.6s ease 0s;
        width: 200px;
    }
}
