 body {
     overflow-y: scroll;
     overflow-x: hidden;
 }
 /**********fomt area****************/
 
 @font-face {
     font-family: Roboto;
     src: url(Roboto-Bold.ttf);
 }
 
 @font-face {
     font-family: OpenSans;
     src: url(OpenSans-Regular.ttf);
 }
 
 @font-face {
     font-family: Raleway;
     src: url(Raleway-Bold.ttf);
 }
 
 @font-face {
     font-family: Raleway;
     src: url(Raleway-Regular.ttf);
 }
 /***************nav area**************/
 
 .slicknav_menu {
     display: none;
 }
 
 .nav_area {
     background-color: #2B3943;
 }
 
 .logo_n_text {
     float: left;
     padding-top: 33px;
     padding-bottom: 26px;
 }
 
 .logo_n_text>h3 {
     font-family: Roboto;
     font-size: 30px;
     font-weight: bold;
     color: #fff;
     padding-left: 13px;
 }
 
 .inl {
     display: inline;
 }
 
 .menu_area {
     float: right;
 }
 
 #menu>li {
     list-style: none;
     display: inline;
     padding-left: 15px;
 }
 
 ul {
     padding-top: 33px;
     padding-bottom: 22px;
 }
 
 #menu>li>a {
     text-decoration: none;
     font-family: OpenSans;
     font-size: 14px;
     color: #fff;
     padding-bottom: 15px;
 }
 
 #menu > li > a:hover {
     border-bottom: 2px solid #3798db;
     color: #D69E7A;
 }
 
 .btn-primary {
     font-family: OpenSans;
     border-radius: 3px;
     font-size: 18px;
     line-height: 1.33333;
     padding: 5px 17px;
 }
 
 .btn-danger {
     border-radius: 3px;
     border-color:#fff;
     color: #fff;
     font-family: OpenSans;
     font-size: 18px;
     line-height: 1.33333;
     padding: 5px 16px;
     background-color: #2B3943;
 }
 /************slider area************/
 
 .container-fluid {
     margin: 0;
     padding: 0;
 }
 
 .slider_pad {
     margin: 0;
     padding: 0;
 }
 
 #owl-demo .item {
     border-radius: 3px!important;
     color: #fff!important;
     margin: 0!important;
     padding: 0!important;
     text-align: center!important;
 }
 
 #owl-demo .item img {
     display: block!important;
     height: 423px!important;
     width: 100%!important;
 }
 /*************about us****************/
 
 .about_us_header {
     text-align: center;
 }
 
 .about_us_header>h2 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #000000;
     padding-top: 86px;
 }
 
 .about_us_header>p {
     font-family: Raleway;
     font-size: 14px;
     color: #7D7D7D;
     padding-top: 6px;
 }
 
 .about_left>p {
     color: #2B3943;
     font-family: OpenSans;
     font-size: 18px;
     padding-top: 42px;
 }
 
 .about_left>h4 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #1E2830;
     padding-top: 44px;
 }
 
 ul>li>p {
     color: #2B3943;
     font-family: OpenSans;
     font-size: 18px;
 }
 
 ul.left {
     list-style: square url("round.png");
     padding-top: 28px;
 }
 
 .about_us_img>img {
     padding-top: 37px;
     width: 100%;
     min-height: 525px;
 }
 /*****************why to choose us area************/
 
 .reason {
     background-color: #F9FAFC;
 }
 
 .reason {
     text-align: center;
 }
 
 .reason_text>h3 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #000000;
     padding-top: 92px;
 }
 
 .reason_text>p {
     font-family: Raleway;
     font-size: 14px;
     color: #7D7D7D;
 }
 
 .reason_details {
     padding-top: 42px;
 }
 
 .reason_details>h5 {
     font-family: Raleway;
     font-size: 19px;
     color: #4E5358;
 }
 
 .reason_details>p {
     color: #969696;
     font-family: OpenSans;
     font-size: 14px;
 }
 
 .posi>img {
     min-height: 476px;
     padding-top: 50px;
     width: 100%;
     padding: 0 140px;
     padding-top: 52px;
 }
 
 .fa {
     font-size: 30px;
 }
 /***********price plan area*************/
 
 .plan_header {
     text-align: center;
 }
 
 .plan_header>h3 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #000000;
     padding-top: 92px;
 }
 
 .plan_header>p {
     color: #969696;
     font-family: Raleway;
     font-size: 14px;
 }
 
 .box_heading {
     background-color: #3798DB;
     text-align: center;
     position: relative;
 }
 
 .box_heading>h3 {
     color: #D9F0F6;
     font-family: Raleway;
     font-size: 18px;
     padding-top: 22px;
     padding-bottom: 80px;
     font-weight: bold;
 }
 
 .crl {
     border: 4px solid #fff;
     border-radius: 50%;
 }
 
 .fa-database {
     color: #fff;
 }
 
 .fa-desktop {
     color: #fff;
 }
 
 .fa-wordpress {
     color: #fff;
 }
 
 .fa-briefcase {
     color: #fff;
 }
 
 .box_image {
     position: relative;
 }
 
 .box_image> i {
     position: absolute;
     top: 33px;
     left: 0;
     bottom: 0;
     right: 0;
 }
 
 .box_image {
     bottom: -53px;
     left: 30%;
     position: absolute;
 }
 
 ul#price_menu {
     padding-top: 42px;
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
 ul#price_menu>li {
     list-style: none;
     color: #A9A9A9;
     font-family: OpenSans;
     font-size: 18.01px;
 }
 
 ul#price_menu>li.brd {
     border-bottom: 2px solid #f3f3f3;
     padding-bottom: 15px;
     padding-top: 15px;
 }
 
 ul#price_menu>li.brde {
     border-bottom: 2px solid #f3f3f3;
     padding-bottom: 15px;
     padding-top: 57px;
 }
 
 ul#price_menu>li.brdd {
     padding-bottom: 15px;
     padding-top: 15px;
 }
 
 ul#price_menu>li.bird {
     padding-bottom: 8px;
 }
 
 ul#price_menu > li.beast {
     padding-bottom: 24px;
 }
 
 .btnp {
  border-radius: 2px;
  font-family: OpenSans;
  font-size: 18px;
  line-height: 1.33333;
  padding: 4px 52px;
  width: 100%;
}
.btnpp {
  background-color: #fff;
  border-color: #1e2830;
  border-radius: 2px;
  color: #1e2830;
  font-family: OpenSans;
  font-size: 18px;
  line-height: 1.33333;
  padding: 4px 51px;
  width: 100%;
}
 
 .box_body {
     border: 2px solid #F0F0F0;
     border-top: 0px;
 }
 
 .box {
     padding-bottom: 100px;
 }
 /**********domain area**********/
 
 .domain {
     background-color: #2B3943;
 }
 
 .domain_header {
     text-align: center;
 }
 
 .domain_header>h3 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #fff;
     padding-top: 80px;
 }
 
 .domain_header>p {
     font-family: Raleway;
     font-size: 14px;
     color: #7D7D7D;
 }
 
 .form-control {
     width: 65%;
     display: inline;
 }
 
 #slt.form-control {
     width: 10%;
 }
 
 .fa-search {
     font-size: 15px;
     color: black;
 }
 
 .btn-info {
     background-color: #fff;
 }
 
 .btn-sm {
     border-radius: 6px;
     font-size: 18px;
     line-height: 1.33333;
     padding: 4px 16px;
 }
 
 .domain_search {
     padding-top: 66px;
     padding-bottom: 100px;
 }
 
 input:placeholder-shown {
     color: #848484;
     font-family: OpenSans;
     font-style: italic;
     font-size: 12px;
 }
 
 #txt:-moz-placeholder {
     color: #848484;
     font-family: OpenSans;
     font-style: italic;
     font-size: 12px;
 }
 
 #txt::-moz-placeholder {
     color: #848484;
     font-family: OpenSans;
     font-style: italic;
     font-size: 12px;
 }
 
 #txt:-ms-input-placeholder {
     color: #848484;
     font-family: OpenSans;
     font-style: italic;
     font-size: 12px;
 }
 /**********do area*************/
 
 .do_text {
     text-align: center;
 }
 
 .do_text>h3 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #2B3943;
     padding-top: 100px;
 }
 
 .do_text>p {
     font-family: Raleway;
     font-size: 14px;
     color: #7D7D7D;
 }
 
 .pad_left {
     text-align: center;
 }
 
 .pad_tp {
     padding-top: 50px;
 }
 
 .cir_text>h3 {
     font-family: Raleway;
     font-size: 24px;
     font-weight: regular;
     color: #2B3943;
 }
 
 .align {
  text-align: center;
  width: 241px!important;
}
 .progress-bar {
  background-color: #fff;
  box-shadow: none;
  color: #0f0f0f;
  float: none;
  font-size: 12px;
  height: 200px;
  line-height: 20px;
  margin-left: 8%!important;
  position: relative;
  text-align: center;
  transition: width 0.6s ease 0s;
  width: 200px;
}
 /************client area*************/
 
 .client {
     background-color: #F9FAFC;
 }
 
 .client_text {
     text-align: center;
 }
 
 .client_text>h3 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #2B3943;
     padding-top: 100px;
 }
 
 .client_text>p {
     font-family: Raleway;
     font-size: 14px;
     color: #7D7D7D;
 }
 /******owl css********/
 
 #owl-demo .item {
     background: #42bdc2;
     padding: 30px 0px;
     margin: 5px;
     color: #FFF;
     border-radius: 3px;
     text-align: center;
 }
 
 .owl_top {
     padding-top: 60px;
     padding-bottom: 100px;
 }
 /********owl first slider***********/
 
 #owl-demo .item img {
     display: block;
     width: 100%;
     height: auto;
 }
 
 .owl-buttons {
     position: relative;
 }
 
 .owl-prev {
     bottom: 210px;
     left: 205px;
     position: absolute;
 }
 
 .owl-next {
     bottom: 210px;
     position: absolute;
     right: 205px;
 }
 
 .owl-theme .owl-controls .owl-buttons div {
     background: #b5d7ee!important;
     border-radius: 3px!important;
     color: #617685!important;
     display: inline-block!important;
     font-size: 12px!important;
     margin: 5px!important;
     opacity: 0.5!important;
     padding: 3px 12px!important;
 }
 /********contact area*************/
 
 .contact_text {
     text-align: center;
 }
 
 .contact_text>h3 {
     font-family: Raleway;
     font-size: 22px;
     font-weight: bold;
     color: #2B3943;
     padding-top: 100px;
 }
 
 .contact_text>p {
     font-family: Raleway;
     font-size: 14px;
     color: #7D7D7D;
 }
 
 #name.form-control {
     background-color: #fff;
     background-image: none;
     border: 1px solid #ccc;
     border-radius: 0px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
     color: #555;
     display: block;
     font-size: 14px;
     height: 34px;
     line-height: 1.42857;
     padding: 6px 12px;
     -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
     transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
     width: 100%;
 }
 
 #mail.form-control {
     background-color: #fff;
     background-image: none;
     border: 1px solid #ccc;
     border-radius: 0px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
     color: #555;
     display: block;
     font-size: 14px;
     height: 34px;
     line-height: 1.42857;
     padding: 6px 12px;
     -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
     transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
     width: 100%;
 }
 
 #message.form-control {
     background-color: #fff;
     background-image: none;
     border: 1px solid #ccc;
     border-radius: 0px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
     color: #555;
     display: block;
     font-size: 14px;
     height: 195px;
     line-height: 1.42857;
     padding: 6px 12px;
     -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
     transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
     width: 100%;
 }
 
 .pad_con {
     padding-left: 16%;
     padding-bottom: 18px;
     padding-top: 50px;
 }
 
 .pad_cont {
     padding-right: 16%;
     padding-bottom: 18px;
     padding-top: 50px;
 }
 
 .pad_cnt {
     padding: 0 17%;
     padding-bottom: 18px;
 }
 
 .pad_ctn {
  padding: 0 17% 22px;
 }
 
 .pad_ctn > .btn {
  -moz-user-select: none;
  background-image: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 265px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
 
 .btn-warning {
     background-color: #3798db;
     border-color: #3798db;
     color: #fff;
 }
 /***********map area***********/
 
 .map_pad {
     margin: 0;
     padding: 0;
 }
 /***********footer area************/
 
 .footer {
     background-color: #212121;
 }
 
 .footer_text>h5 {
     font-family: Raleway;
     font-size: 14px;
     font-weight: bold;
     color: #fff;
     padding-top: 60px;
 }
 
 .footer_text>p {
     font-family: OpenSans;
     font-size: 12px;
     color: #515151;
     padding-top: 15px;
 }
 
 ul#social {
     padding-left: 0;
     padding-top: 11px;
 }
 
 ul#social>li>a {
     color: #353535;
 }
 
 ul#social>li {
     color: #353535;
     list-style: none;
     display: inline;
 }
 
 .fa-facebook-square {
     font-size: 33px;
 }
 
 .fa-twitter-square {
     font-size: 33px;
 }
 
 .fa-google-plus-square {
     font-size: 33px;
 }
 
 .fa-linkedin-square {
     font-size: 33px;
 }
 
 .fa-rss-square {
     font-size: 33px;
 }
 
 .footer_text a {
     text-decoration: none;
 }
 
 .footer_text span {
     color: #575757;
 }
 
 .fa-envelope-o {
     font-size: 20px;
     color: #3798DB;
 }
 
 .fa-phone {
     font-size: 20px;
     color: #3798DB;
 }
 
 .fa-map-marker {
     font-size: 20px;
     color: #3798DB;
 }
 
 .footer_pad {
     padding-bottom: 70px;
 }
 /********footer area***********/
 
 .copyright {
     background-color: #090909;
 }
 
 .copy_text>h6 {
     font-family: OpenSans;
     font-size: 12px;
     color: #fff;
     padding-top: 25px;
 }
 
 #copy a {
     text-decoration: none;
     color: #999999;
     font-family: opensans;
     font-size: 13px;
 }
 
 #copy > li {
     display: inline;
     list-style: outside none none;
     padding: 10px;
 }
 /******progress bar**************/
 
 .progress-bar {
     position: relative;
     height: 200px;
     width: 200px;
     font-size: 12px;
     line-height: 20px;
     text-align: center;
     -webkit-transition: width 0.6s ease 0s;
     transition: width 0.6s ease 0s;
     background-color: #fff;
     box-shadow: none;
     color: #0F0F0F;
     float: none;
 }
 
 .progress-bar div {
     position: absolute;
     height: 200px;
     width: 200px;
     border-radius: 50%;
 }
 
 .progress-bar div span {
     position: absolute;
     font-family: Arial;
     font-size: 25px;
     line-height: 175px;
     height: 175px;
     width: 175px;
     left: 12.5px;
     top: 12.5px;
     text-align: center;
     border-radius: 50%;
     background-color: white;
 }
 
 .progress-bar .background {
     background-color: #b3cef6;
 }
 
 .progress-bar .rotate {
     clip: rect(0 100px 200px 0);
     background-color: #4b86db;
 }
 
 .progress-bar .left {
     clip: rect(0 100px 200px 0);
     opacity: 1;
     background-color: #b3cef6;
 }
 
 .progress-bar .right {
     clip: rect(0 100px 200px 0);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
     opacity: 0;
     background-color: #4b86db;
 }
 
 @-webkit-keyframes toggle {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @keyframes toggle {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
